<%- include("../includes/header.ejs") %>

<section class="min-h-[calc(100vh-150px)] flex flex-col justify-center items-center">

    <form action="/admin/<% if(editing) { %>edit-task?edit=true<% } else { %>add-task<% } %>" method="POST" class="flex flex-col gap-6 p-4 border-2 rounded-lg shadow-md">
        <div class="form-control">
            <label for="description" class="block"> Description: </label>
            <textarea type="text" id="description" name="description" class="outline-none w-full resize-none border-2 rounded-sm" rows="5" cols="50"><% if(editing) { %><%=task.description%><% } else { %><% } %></textarea>
        </div>
        <div class="form-control">
            <label for="assignee" class="block"> Assignee: </label>
            <select name="assignee" id="assignee" class="text-white bg-primary border-b-2 w-full py-2">
                <% for(member of members) { %>
                    <option value="<%= member._id %>" class="bg-none"><%= member.name %></option>
                <% } %>
            </select>
        </div>
        <div class="border-b-2">
            <label for="deadline" class="block"> Deadline: </label>
            <input type="date" id="deadline" name="deadline" class="outline-none w-full" required>
        </div>
        <input type="submit" value="<% if(editing) { %>Update Task<% } else { %>Add Task<% } %>" class="bg-black text-white rounded-sm p-2 cursor-pointer">
    </form>

</section>

<%- include("../includes/footer.ejs") %>