<%- include("../includes/header.ejs") %>

<main class="min-h-screen flex flex-col justify-center items-center px-2 pb-12 pt-24">

    <form action="/admin/<% if(editing) { %>edit-achievement?edit=true<% } else { %>add-achievement<% } %>" method="POST" class="flex flex-col gap-2 p-4 border-2 rounded-lg shadow-md">
        
        <div class="form-control border-b-2">
            <label for="name" class="block"> Name: </label>
            <input type="text" id="name" name="name"  value="<% if(editing) { %><%=achievement.name%><% } else { %><% } %>" placeholder="John Doe" required class="outline-none w-full">
        </div>
        <div class="form-control">
            <label for="description" class="block"> Description: </label>
            <textarea type="text" id="description" name="description" class="outline-none w-full resize-none border-2 rounded-sm" rows="5" cols="50"><% if(editing) { %><%=achievement.description%><% } else { %><% } %></textarea>
        </div>
        <% if (editing) { %>
            <input type="hidden" value="<%= achievement.id %>" name="achievementId">
        <% } %>
        <input type="submit" value="<% if(editing) { %>Update Achievement<% } else { %>Add Achievement<% } %>" class="bg-black text-white rounded-sm p-2 cursor-pointer">
    
    </form>
</main>

<%- include("../includes/footer.ejs") %>