<%- include("../includes/header.ejs") %>
    <section class="pt-4 flex flex-wrap gap-y-2 gap-x-4 sm:justify-between items-center justify-center mb-12">
        <h1 class="text-center text-xl">Alumnis</h1>
        <button class="border-2 px-4 py-2 bg-slate-800 rounded-3xl"><a href="/admin/team"><i class="fa-regular fa-plus"></i>&nbsp;Add Alumni</a></button>
    </section>
    <section class="block">
        <% if(alumnis.length > 0) { %>
            <% for(passout of alumnis) { %>
                <h1 class="mb-4 text-center text-3xl font-bold"><%= Object.keys(passout) %></h1>
                <section class="mb-8 flex flex-wrap gap-8 items-center justify-evenly">
                    <% for(alumni of passout[Object.keys(passout)]) {%>
                        <article class="h flex flex-col max-w-xs border-2 shadow-md duration-500 rounded-lg p-4 hover:-translate-y-2">
                            <img src="/images/people/<%= alumni.memberId.name %>.jpg" class="mb-4 rounded-full w-[200px] h-[200px]">
                            <h3 class="text-lg font-bold"><%= alumni.memberId.name %></h3>
                            <p class="mb-2"><%= alumni.memberId.domain.toUpperCase() %> Alumni</p>
                            <ul class="">
                                <li><%= alumni.memberId.email %></li>
                                <li><%= alumni.memberId.phone %></li>
                            </ul>
                            <a href="/admin/alumni/<%= alumni._id %>" class="self-end my-2 p-1 rounded border-black border-2">Read more...</a>
                        </article>
                    <% } %>
                </section>
            <% } %>
        <% } else { %>
            <h1 class="text-xl">No Alumnis :(</h1>
        <% } %>
    </section>
<%- include("../includes/footer.ejs") %>