<%- include("../includes/header.ejs") %>
    <section class="pt-4 flex gap-y-2 items-center justify-between mb-12 lg:px-[8vw]">
        <h1 class="text-center text-xl">Alumni</h1>
        <a class="w-12 h-12 rounded-full border-2 flex items-center justify-center" href="/admin/team"><i class="fa-2xl fa-regular fa-plus"></i></a>
    </section>
    <section class="block">
        <% if(alumnis.length > 0) { %>
            <% for(passout of alumnis) { %>
                <h1 class="mb-4 text-center text-3xl font-bold"><%= Object.keys(passout) %></h1>
                <section class="mb-8 flex flex-wrap gap-8 items-center justify-evenly">
                    <% for(alumni of passout[Object.keys(passout)]) {%>
                        <article class="h flex flex-col max-w-xs border-2 shadow-md duration-500 rounded-lg p-4 hover:-translate-y-2">
                            <img src="/images/alumni/<%= alumni.memberId.name %>.jpg" class="mx-auto mb-4 rounded-full w-[200px] h-[200px]">
                            <h3 class="text-lg font-bold"><%= alumni.memberId.name %></h3>
                            <p class="mb-2"><%= alumni.memberId.domain.toUpperCase() %> Alumni</p>
                            <ul class="">
                                <li><%= alumni.memberId.email %></li>
                                <li><%= alumni.memberId.phone %></li>
                            </ul>
                            <a href="/admin/alumni/<%= alumni._id %>" class="self-end my-2 p-1 rounded border-secondary border-2">Read more...</a>
                        </article>
                    <% } %>
                </section>
            <% } %>
        <% } else { %>
            <h1 class="text-xl text-center">No Alumnis :(</h1>
        <% } %>
    </section>
<%- include("../includes/footer.ejs") %>