<%- include("../includes/header.ejs") %>

<main class="min-h-screen px-2 pb-12 pt-24">
    <section class="mx-auto max-w-2xl flex flex-col gap-y-4 shadow-md rounded-md p-2">
        <img src="/images/alumni/<%= alumni.memberId.name %>.jpg" width="200px" class="mx-auto">
        <h1 class="text-3xl font-bold"><%= alumni.memberId.name %></h1>
        <q class="text-xl"><%= alumni.quote %></q>
        <ul>
            <li><strong>Register Number: </strong><%= alumni.memberId.registerNo %></li>
            <li><strong>Email: </strong><%= alumni.memberId.email %></li>
            <li><strong>Phone: </strong><%= alumni.memberId.phone %></li>
            <li><strong>Domain: </strong><%= alumni.memberId.domain.toUpperCase() %></li>
            <li><strong>Position: </strong><%= alumni.memberId.position %></li>
            <li><strong>Date of Birth: </strong><%= alumni.memberId.dob.toLocaleDateString() %></li>
            <li><strong>Date of Joining: </strong><%= alumni.memberId.doj.toLocaleDateString() %></li>
            <li><strong>Passout Year: </strong><%= alumni.passoutYear %></li>
        
        </ul>
        <fieldset class="border-2 border-secondary p-2">
            <legend class="font-bold text-xl">Personalia</legend>
            <label class="font-bold">About: </label>
            <p><%= alumni.description[0] %></p>
            <label></label>
            <label class="font-bold">Experience: </label>
            <p><%= alumni.description[1] %></p>
        </fieldset>
        <ul class="flex gap-4">
            <li>
                <form action="/admin/delete-alumni" method="POST" class="m-0 p-0">
                    <input type="hidden" value="<%= alumni._id %>" name="alumniId">
                    <button type="submit" class="px-4 py-2 rounded-md text-black bg-secondary">Delete <i class="fa-md fa-solid fa-trash"></i></button>
                </form>
            </li>
        </ul>
    </section>
</main>

<%- include("../includes/footer.ejs") %>