<%- include("../includes/header.ejs") %>

<main class="flex flex-col px-2 py-12">
    <section class="flex items-center justify-between mb-12">
        <h1 class="text-xl">Alumnis</h1>
        <button class="border-2 px-4 py-2 bg-black text-white rounded-3xl"><a href="/admin/team"><i class="fa-regular fa-plus"></i>&nbsp;Add Alumni</a></button>
    </section>
    <section class="min-h-[60vh] flex flex-wrap gap-8 items-center justify-evenly">
        <% if(alumnis.length > 0) { %>
            <% for(alumni of alumnis) { %>
                <article class="h flex flex-col max-w-xs border-2 shadow-md duration-500 rounded-lg p-4 hover:-translate-y-2">
                    <img src="/images/people/<%= alumni.memberId.name %>.jpg" class="mb-4 rounded-full w-[200px] h-[200px]">
                    <h3 class="text-lg font-bold"><%= alumni.memberId.name %></h3>
                    <p class="mb-2"><%= alumni.memberId.domain.toUpperCase() %> Alumni</p>
                    <ul class="">
                        <li><%= alumni.memberId.email %></li>
                        <li><%= alumni.memberId.phone %></li>
                    </ul>
                    <a href="/admin/alumni/<%= alumni._id %>" class="self-end my-2 p-1 rounded border-black border-2">Read more...</a>
                </article>
            <% } %>
        <% } else { %>
            <h1 class="text-xl">No Alumnis :(</h1>
        <% } %>
    </section>
</main>

<%- include("../includes/footer.ejs") %>