<%- include("../includes/header.ejs") %>

    <section class="min-h-[calc(100vh-75px)] flex flex-col justify-center text-center p-2">
        <h3 class="text-2xl">Welcome</h3>
        <h1 class="text-4xl mb-4"><%= admin.name %></h1>
        <p><%= admin.position %></p>
        <% if(admin.position !== "Team lead") { %>
            <p><%= admin.domain.toUpperCase() %></p>
        <% } %>
    </section>

<%- include("../includes/footer.ejs") %>