<%- include("../includes/header.ejs") %>
    <section class="pt-4 flex gap-y-2 items-center justify-between mb-12 lg:px-[8vw]">
        <h1 class="text-center text-xl">Projects</h1>
        <a class="w-12 h-12 rounded-full border-2 flex items-center justify-center" href="/admin/add-project"><i class="fa-2xl fa-regular fa-plus"></i></a>
    </section>
    <section class="mx-auto flex flex-wrap gap-16">
        <% for(project of projects) { %>
            <article class="flex flex-col w-96 border-2 shadow-md duration-500 rounded-lg p-4 hover:-translate-y-2 relative">
                <h2 class="text-xl mb-4 font-bold"><%= project.name %></h2>
                <p class="h-80 overflow-y-scroll scroll mb-12"><%= project.description %></p>
                <ul class="flex gap-4 p-4 absolute bg-primary bottom-0 left-0 right-0">
                    <li><a href="/admin/edit-project/<%= project._id %>?edit=true"><i class="fa-xl fa-solid fa-pen-to-square"></i></a></li>
                    <li>
                        <form action="/admin/delete-project" method="POST" class="m-0 p-0">
                            <input type="hidden" value="<%= project._id %>" name="projectId">
                            <button type="submit"><i class="fa-xl fa-solid fa-trash"></i></button>
                        </form>
                    </li>
                </ul>
            </article>
        <% } %>
    </section>
<%- include("../includes/footer.ejs") %>