<%- include("../includes/header.ejs") %>

<main class="min-h-screen flex flex-col px-2 pb-12 pt-24">
    <section class="flex items-center justify-between mb-12">
        <h1 class="text-xl">Projects</h1>
        <button class="border-2 px-4 py-2 bg-black text-white rounded-3xl"><a href="/admin/add-project"><i class="fa-regular fa-plus"></i>&nbsp;Add Project</a></button>
    </section>
    <section>
        <% for(project of projects) { %>
            <article class="h flex flex-col max-w-xs border-2 shadow-md duration-500 rounded-lg p-4 hover:-translate-y-2">
                <h2 class="text-xl"><%= project.name %></h2>
                <p><%= project.description %></p>
                <ul class="flex gap-4 mt-8">
                    <li><a href="/admin/edit-project/<%= project._id %>?edit=true"><i class="fa-xl fa-solid fa-pen-to-square"></i></a></li>
                    <li>
                        <form action="/admin/delete-project" method="POST" class="m-0 p-0">
                            <input type="hidden" value="<%= project._id %>" name="projectId">
                            <button type="submit"><i class="fa-xl fa-solid fa-trash"></i></button>
                        </form>
                    </li>
                </ul>
            </article>
        <% } %>
    </section>
</main>

<%- include("../includes/footer.ejs") %>