<%- include("../includes/header.ejs") %>

<main class="min-h-screen flex flex-col px-2 pb-12 pt-24">
    <section class="flex items-center justify-between mb-12">
        <h1 class="text-xl">Present Team Members</h1>
        <button class="border-2 px-4 py-2 bg-black text-white rounded-3xl"><a href="/admin/add"><i class="fa-regular fa-plus"></i>&nbsp;Add New Member</a></button>
    </section>
    <section>
        <section class="flex flex-wrap gap-8 items-center justify-evenly">
            <% for(member of team) { %>
                <article class="h flex flex-col max-w-xs border-2 shadow-md duration-500 rounded-lg p-4 hover:-translate-y-2">
                    <img src="/images/people/<%= member.name %>.jpg" class="mb-4 rounded-full w-[200px] h-[200px]">
                    <h3 class="text-lg font-bold"><%= member.name %></h3>
                    <p class="mb-2"><%= member.position %></p>
                    <ul class="">
                        <li><%= member.email %></li>
                        <li><%= member.phone %></li>
                        <li>Date of Joining: <%= member.doj.toLocaleDateString() %></li>
                        <li></li>
                    </ul>
                    <ul class="flex gap-4 mt-8">
                        <li><a href="/admin/edit-member/<%= member._id %>?edit=true"><i class="fa-xl fa-solid fa-pen-to-square"></i></a></li>
                        <li>
                            <form action="/admin/delete-member" method="POST" class="m-0 p-0">
                                <input type="hidden" value="<%= member._id %>" name="memberId">
                                <button type="submit"><i class="fa-xl fa-solid fa-trash"></i></button>
                            </form>
                        </li>
                        <% if(admin.position === "Team lead") { %>
                            <li><a href="add-alumni/<%= member._id %>"><i class="fa-xl fa-solid fa-medal"></i></a></li>
                        <% } %>
                    </ul>
                </article>
            <% } %>
        </section>
</main>

<%- include("../includes/footer.ejs") %>