<%- include("../includes/header.ejs") %>
    
    <section class="pt-12 text-secondary font-secondary text-center">
      <h1 class="text-4xl mb-4 text-center text-secondary font-primary">Meet Our <span class="text-tertiary">Alumnis</span></h1>
      <p class="mb-12">Our mentors, who have passed down all the resources needed to reach new heights, through the foundation they built based on innovation and commendable work ethic.</p>
    </section>

    <section class="mb-12 gap-8 items-center justify-evenly">
      <% if(alumnis.length > 0) { %>
          <% for(passout of alumnis) { %>
              <h1 class="mb-4 text-center text-3xl font-primary"><%= Object.keys(passout) %></h1>
              <section class="mb-8 flex flex-wrap gap-8 items-center justify-evenly">
                  <% for(alumni of passout[Object.keys(passout)]) {%>
                      <article class="">
                        <div class="group h-[28rem] w-[22rem] [perspective:1000px]">
                            <div class="relative h-full w-full shadow-xl transition-all duration-500 [transform-style:preserve-3d] group-focus:[transform:rotateY(180deg)] group-hover:[transform:rotateY(180deg)]">
                              <div class="absolute inset-0 bg-slate-100">
                                <img class="h-full w-full object-cover shadow-xl shadow-black/40" src="/images/alumni/<%= alumni.memberId.name %>.jpg" alt="" />
                                <h1 class="text-3xl font-bold absolute -mt-20 z-10 w-full bg-white/50 text-gray-900 group-hover:hidden text-center"><%= alumni.memberId.name %> <br> <p class="text-lg"><%= alumni.memberId.position %>- <%= alumni.memberId.domain.toUpperCase() %></p> </h1>
                                <!-- <h1 class="text-xl font-bold absolute -mt-20 z-10 w-full bg-white/50 text-gray-900 group-hover:hidden"><%= alumni.memberId.domain.toUpperCase() %> <%= alumni.memberId.position %></h1> -->
                              </div>
                              <div class="scroll overflow-y-scroll absolute inset-0 h-full w-full bg-black/80 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]">
                                <div class="flex min-h-full flex-col items-center justify-center">
                                  <h1 class="text-3xl font-bold"><%= alumni.memberId.name %></h1>
                                  <p class="text-lg"><%= alumni.memberId.domain.toUpperCase() %> <%= alumni.memberId.position %></p>
                                  <br>
                                  <i class="fa-solid fa-quote-left mr-48"></i>
                                  <p class="text-base"><%= alumni.quote%></p>
                                  <i class="fa-solid fa-quote-right ml-48"></i>
                                  <br>
                                  <p class="text-base"><%= alumni.description[0] %></p>
                                  <ul class="flex gap-4 mt-4">
                                    <li><a href="<%= alumni.memberId.linkedIn %>"><i class="fa-xl fab fa-linkedin"></i></a></li>
                                    <li><a href="<%= alumni.memberId.instagram %>"><i class="fa-xl fab fa-instagram-square"></i></a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                    </article>
                  <% } %>
              </section>
          <% } %>
      <% } else { %>
          <h1 class="text-xl text-secondary font-secondary">No Alumnis :(</h1>
      <% } %>
  </section>

<%- include("../includes/footer.ejs") %>