<%- include("../includes/header.ejs") %>   

    <section class="mx-auto px-4 py-12 min-h-[calc(100vh-75px)] max-w-7xl flex items-center justify-center md:justify-between gap-4 md:flex-nowrap flex-wrap " id="home">
        <article class="four animate">
            <h1 class="text-4xl font-primary text-secondary">Robotics.<span class="text-quaternary"> Reimagined</span></h1>
            <p class="mt-4 text-lg text-secondary font-secondary">We transition ideas into reality, building ingenious technology in the form of Robotic systems. We are the official team of SRMIST participating in the international competition ABU Robocon since the year 2011.<br>But we're so much more than that.</p>
            <button class="mt-8 bg-glass px-4 py-2 md:px-8 md:py-4 font-primary text-secondary clip-1"><a href="https://www.aburobocon2022.com/" target="_blank">ABU Robocon 2023</a></button>
        </article>
        
        <img class="w-96 one animate" src="images/Embelem.gif" alt="Robot" loading="lazy">
    </section>

    <section class="py-36">
        <h1 class="text-center text-4xl text-secondary font-primary mb-16 three animate" id="projects">Projects</h1>
        <div class="swiper-project">
            <div class="swiper-wrapper">
                <% for(project of projects) { %>
                    <div class="swiper-slide">
                        <article class="">
                            <img src="images/project/<%=project.name%>.jpg" alt="<%= project.name %>" width="200px" class="mx-auto mb-2">
                            <h1 class="text-center text-xl mb-4"><%= project.name %></h1>
                        </article>
                    </div>
                <% } %>
            </div>
        </div>
    </section>

    <section class="pt-12 pb-36 max-w-7xl mx-auto">
        <h1 class="font-primary text-4xl text-right mb-8 five animate">About <span class="text-tertiary">Us</span></h1>
        <article class="flex flex-wrap justify-between items-center gap-8">
            <div class="grid grid-cols-2 grid-rows-2 gap-16 sm:text-7xl text-5xl">
                <div class="text-center">
                    <p id="members_count">$</p>
                    <p class="sm:text-lg text-sm">Members</p>
                </div>
                <div class="text-center text-quaternary">
                    <p id="participations_count">$</p>
                    <p class="sm:text-lg text-sm text-secondary">Participations</p>
                </div>
                <div class="text-center text-penternary">
                    <p id="robots_count">$</p>
                    <p class="sm:text-lg text-sm text-secondary">Robots</p>
                </div>
                <div class="text-center">
                    <p id="alumini_count">$</p>
                    <p class="sm:text-lg text-sm ">Alumni</p>
                </div>
            </div>
            <p class="max-w-2xl text-right text-lg five animate mr-2">Our team is a melting pot of diverse students passionate about robotics & engineering dedicated to participate in ABU Robocon and other competitions to showcase our skills. We prioritize effective communication, collaboration, and problem-solving skills, believing they are essential in the world, and strive to develop them through our projects and activities.</p>
        </article>
    </section>

    <section class="flex flex-col gap-16 max-w-7xl mx-auto pt-12 pb-48">
        <article class="self-end xl:ml-[648px] bg-glass pt-2 pb-16 pl-16 pr-2 text-right clip-2 max-w-2xl four animate">
            <h1 class="text-4xl font-primary">Our <span class="text-quaternary">Mission</span></h1>
            <p class="mt-4 text-lg">We explore new technologies and innovative solutions to real-world problems and aim to develop robots that can perform tasks autonomously, efficiently, and safely.  We strive to push the boundaries of what is possible with robotics and make a positive impact on our community and the world.</p>
        </article>
        <article class="bg-inverted-glass pb-2 pt-16 pr-16 pl-2 text-left clip-3 max-w-2xl five animate">
            <h1 class="text-4xl font-primary text-secondary">Our <span class="text-penternary">Vision</span></h1>
            <p class="mt-4 text-lg">Our vision for the team is to become a leading force in the field of robotics and technology at SRMIST and inspire the next generation of technology enthusiasts. </p>
        </article>
    </section>

    <section class="pt-12 pb-36">
        <h1 class="text-center text-4xl text-secondary font-primary mb-16 three animate">Partners & <span class="text-tertiary">Sponsors</span></h1>
        <div class="swiper-sponsor one animate">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 1.png" alt="Sponsor" loading="lazy"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 2.png" alt="Sponsor" loading="lazy"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 3.png" alt="Sponsor" loading="lazy"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 4.png" alt="Sponsor" loading="lazy"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 5.png" alt="Sponsor" loading="lazy"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 6.png" alt="Sponsor" loading="lazy"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 7.png" alt="Sponsor" loading="lazy" ></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 8.png" alt="Sponsor" loading="lazy" class="w-36"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 9.png" alt="Sponsor" loading="lazy"></div>

            </div>
        </div>
    </section>

<%- include("../includes/footer.ejs") %>