<%- include("../includes/header.ejs") %>   

    <section class="mx-auto px-4 py-12 min-h-[calc(100vh-75px)] max-w-7xl grid sm:grid-cols-[1.5fr_1fr] place-items-center gap-8" >
        <article class="">
            <h1 class="text-4xl font-primary text-secondary">Lorem <span class="text-quaternary">ipsum</span> dolor sit </h1>
            <p class="mt-4 text-lg text-secondary font-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, vel! Culpa recusandae harum voluptates id? Suscipit recusandae laboriosam nobis eligendi!</p>
            <button class="mt-8 bg-glass px-4 py-2 md:px-8 md:py-4 font-primary text-secondary clip-1"><a href="#">View More</a></button>
        </article>
        
        <img class="w-96" src="images/Embelem.gif" alt="Robot" loading="lazy">
    </section>

    <section class="py-36">
        <h1 class="text-center text-4xl text-secondary font-primary mb-16">Projects <span class="text-tertiary">Done</span></h1>
        <div class="swiper-project">
            <div class="swiper-wrapper">
                <% for(project of projects) { %>
                    <div class="swiper-slide">
                        <article class="h-[200px]">
                            <img src="images/<%=project.name.png%>" alt="<%= project.name %>">
                            <h1><%= project.name %></h1>
                            <p><%= project.description %></p>
                        </article>
                    </div>
                <% } %>
            </div>
        </div>
    </section>

    <section class="flex flex-col gap-16 max-w-7xl mx-auto">
        <article class="self-end xl:ml-[648px] bg-glass pt-2 pb-16 pl-16 pr-2 text-right clip-2 max-w-2xl">
            <h1 class="text-4xl font-primary text-secondary">Our <span class="text-quaternary">Mission</span></h1>
            <p class="mt-4 text-lg font-secondary text-secondary">Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no rejoiced.</p>
        </article>
        <article class="bg-inverted-glass pb-2 pt-16 pr-16 pl-2 text-left clip-3 max-w-2xl">
            <h1 class="text-4xl font-primary text-secondary">Our <span class="text-quaternary">Vision</span></h1>
            <p class="mt-4 text-lg font-secondary text-secondary">Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no rejoiced.</p>
        </article>
    </section>

    <section class="py-36">
        <h1 class="text-center text-4xl text-secondary font-primary mb-16">Partners & <span class="text-tertiary">Sponsors</span></h1>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 1.png" alt="Sponsor" loading="lazy"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 2.png" alt="Sponsor" loading="lazy"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 3.png" alt="Sponsor" loading="lazy"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 4.png" alt="Sponsor" loading="lazy"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 5.png" alt="Sponsor" loading="lazy"></div>
                <div class="swiper-slide"><img src="images/sponsors/Sponsor 6.png" alt="Sponsor" loading="lazy"></div>
            </div>
        </div>
    </section>

<%- include("../includes/footer.ejs") %>